<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMLanguageDisplayName</key>
	<string>68K/Z80 with Sonic Disassembly Macros</string>
	<key>BBLMLanguageCode</key>
	<string>M68K</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.x68</string>
		</dict>
	</array>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMScansFunctions</key>
	<false/>
	<key>BBLMKeywordList</key>
	<array>
		<string>abcd</string>
		<string>abs</string>
		<string>absw</string>
		<string>adc</string>
		<string>_add</string>
		<string>add</string>
		<string>adda</string>
		<string>adda_</string>
		<string>addi</string>
		<string>addi_</string>
		<string>_addq</string>
		<string>addq</string>
		<string>addx</string>
		<string>alias</string>
		<string>align</string>
		<string>align_to_end</string>
		<string>alignment</string>
		<string>and</string>
		<string>andi</string>
		<string>arraysize</string>
		<string>asl</string>
		<string>asr</string>
		<string>bankswitch</string>
		<string>bcc</string>
		<string>bchg</string>
		<string>bclr</string>
		<string>bcs</string>
		<string>beq</string>
		<string>bge</string>
		<string>bgt</string>
		<string>bhi</string>
		<string>bhs</string>
		<string>binclude</string>
		<string>bit</string>
		<string>bkpt</string>
		<string>ble</string>
		<string>blo</string>
		<string>bls</string>
		<string>blt</string>
		<string>bmi</string>
		<string>bne</string>
		<string>bpl</string>
		<string>bra</string>
		<string>bset</string>
		<string>bsr</string>
		<string>btst</string>
		<string>bvc</string>
		<string>bvs</string>
		<string>bytestolcnt</string>
		<string>bytestowcnt</string>
		<string>call</string>
		<string>case</string>
		<string>ccf</string>
		<string>childobjdata</string>
		<string>chk</string>
		<string>clearram</string>
		<string>clear_ram</string>
		<string>_clr</string>
		<string>clr</string>
		<string>_cmp</string>
		<string>cmp</string>
		<string>cmpa</string>
		<string>_cmpi</string>
		<string>cmpi</string>
		<string>cmpm</string>
		<string>cnop</string>
		<string>copyTilemap</string>
		<string>cp</string>
		<string>cpd</string>
		<string>cpdr</string>
		<string>cpi</string>
		<string>cpir</string>
		<string>cpl</string>
		<string>cpu</string>
		<string>daa</string>
		<string>db</string>
		<string>dbcc</string>
		<string>dbcs</string>
		<string>dbeq</string>
		<string>dbf</string>
		<string>dbge</string>
		<string>dbgt</string>
		<string>dbhi</string>
		<string>dble</string>
		<string>dbls</string>
		<string>dblt</string>
		<string>dbmi</string>
		<string>dbne</string>
		<string>dbpl</string>
		<string>dbra</string>
		<string>dbt</string>
		<string>dbvc</string>
		<string>dbvs</string>
		<string>dc</string>
		<string>dcb</string>
		<string>dec</string>
		<string>def</string>
		<string>dephase</string>
		<string>di</string>
		<string>disable</string>
		<string>disable_display</string>
		<string>disable_ints</string>
		<string>divs</string>
		<string>divsl</string>
		<string>divu</string>
		<string>divul</string>
		<string>djnz</string>
		<string>dma</string>
		<string>dma_fill</string>
		<string>dma68ktovdp</string>
		<string>dmafillvram</string>
		<string>do</string>
		<string>dplcheader</string>
		<string>dplcentry</string>
		<string>ds</string>
		<string>dw</string>
		<string>ei</string>
		<string>else</string>
		<string>elseif</string>
		<string>enable_display</string>
		<string>enable_ints</string>
		<string>end</string>
		<string>endc</string>
		<string>endcase</string>
		<string>endf</string>
		<string>endfunc</string>
		<string>endif</string>
		<string>endmain</string>
		<string>endm</string>
		<string>endr</string>
		<string>endobj</string>
		<string>endp</string>
		<string>endproc</string>
		<string>endsprite</string>
		<string>endw</string>
		<string>eor</string>
		<string>eori</string>
		<string>equ</string>
		<string>equr</string>
		<string>equs</string>
		<string>even</string>
		<string>exg</string>
		<string>exitm</string>
		<string>ext</string>
		<string>extb</string>
		<string>ex</string>
		<string>exx</string>
		<string>fail</string>
		<string>fatal</string>
		<string>fdabs</string>
		<string>fdadd</string>
		<string>fdmove</string>
		<string>fdmul</string>
		<string>fdneg</string>
		<string>fdsqrt</string>
		<string>fdsub</string>
		<string>file</string>
		<string>filedef</string>
		<string>filesize</string>
		<string>fillvram</string>
		<string>finishbank</string>
		<string>fmove</string>
		<string>fmovecr</string>
		<string>fmovem</string>
		<string>fsabs</string>
		<string>fsadd</string>
		<string>fsge</string>
		<string>fsgldiv</string>
		<string>fsglmul</string>
		<string>fsmove</string>
		<string>fsmul</string>
		<string>fsneg</string>
		<string>fspl</string>
		<string>fssqrt</string>
		<string>fssub</string>
		<string>fsub</string>
		<string>func</string>
		<string>function</string>
		<string>getindex</string>
		<string>getzreg</string>
		<string>gotoSRAM</string>
		<string>gotoROM</string>
		<string>group</string>
		<string>halt</string>
		<string>if</string>
		<string>ifarg</string>
		<string>ifnotarg</string>
		<string>illegal</string>
		<string>im</string>
		<string>in</string>
		<string>inc</string>
		<string>incbin</string>
		<string>incfile</string>
		<string>incpal</string>
		<string>include</string>
		<string>ind</string>
		<string>indr</string>
		<string>index</string>
		<string>inform</string>
		<string>ini</string>
		<string>inir</string>
		<string>instr</string>
		<string>jcc</string>
		<string>jcs</string>
		<string>jeq</string>
		<string>jge</string>
		<string>jgt</string>
		<string>jhi</string>
		<string>jhs</string>
		<string>jle</string>
		<string>jlo</string>
		<string>jls</string>
		<string>jlt</string>
		<string>jmi</string>
		<string>jmp</string>
		<string>jmpto</string>
		<string>jne</string>
		<string>jp</string>
		<string>jpl</string>
		<string>jr</string>
		<string>jsr</string>
		<string>jsrto</string>
		<string>ld</string>
		<string>lea</string>
		<string>lea_</string>
		<string>ldd</string>
		<string>lddr</string>
		<string>ldi</string>
		<string>ldir</string>
		<string>link</string>
		<string>list</string>
		<string>listing</string>
		<string>local</string>
		<string>locVRAM</string>
		<string>lsl</string>
		<string>lsr</string>
		<string>machine</string>
		<string>macro</string>
		<string>macros</string>
		<string>make_art_tile</string>
		<string>make_art_tile_2p</string>
		<string>make_block_tile</string>
		<string>make_block_tile_2p</string>
		<string>make_block_tile_pair</string>
		<string>make_block_tile_pair_2p</string>
		<string>main</string>
		<string>menutxt</string>
		<string>message</string>
		<string>mexit</string>
		<string>mirror_index</string>
		<string>mmu</string>
		<string>_move</string>
		<string>move</string>
		<string>movea</string>
		<string>movec</string>
		<string>movem</string>
		<string>movep</string>
		<string>moveq</string>
		<string>moveq_</string>
		<string>moves</string>
		<string>muls</string>
		<string>mulu</string>
		<string>mvabs</string>
		<string>narg</string>
		<string>nbcd</string>
		<string>neg</string>
		<string>negx</string>
		<string>nolist</string>
		<string>nop</string>
		<string>not</string>
		<string>obj</string>
		<string>objend</string>
		<string>objpos</string>
		<string>offset</string>
		<string>offsettable</string>
		<string>offsettableentry</string>
		<string>opt</string>
		<string>opword</string>
		<string>or</string>
		<string>org</string>
		<string>ori</string>
		<string>out_of_range</string>
		<string>otdr</string>
		<string>otir</string>
		<string>out</string>
		<string>outd</string>
		<string>outi</string>
		<string>pea</string>
		<string>phase</string>
		<string>piece</string>
		<string>planeloch40</string>
		<string>planeloch80</string>
		<string>play</string>
		<string>pop</string>
		<string>popo</string>
		<string>popp</string>
		<string>popr</string>
		<string>pops</string>
		<string>proc</string>
		<string>ptr</string>
		<string>purge</string>
		<string>push</string>
		<string>pusho</string>
		<string>pushp</string>
		<string>pushr</string>
		<string>pushs</string>
		<string>ramblocksize</string>
		<string>ref</string>
		<string>reg</string>
		<string>rept</string>
		<string>res</string>
		<string>reset</string>
		<string>resetdmaqueue</string>
		<string>reset_dma_queue</string>
		<string>resetz80</string>
		<string>resetz80a</string>
		<string>resetz80_assert</string>
		<string>resetz80_release</string>
		<string>ret</string>
		<string>reti</string>
		<string>retn</string>
		<string>rev02even</string>
		<string>rl</string>
		<string>rla</string>
		<string>rlc</string>
		<string>rld</string>
		<string>rlca</string>
		<string>rol</string>
		<string>rom_ptr_z80</string>
		<string>ror</string>
		<string>roxl</string>
		<string>roxr</string>
		<string>rr</string>
		<string>rra</string>
		<string>rrc</string>
		<string>rrca</string>
		<string>rrd</string>
		<string>rs</string>
		<string>rsalign</string>
		<string>rsblock</string>
		<string>rsblockend</string>
		<string>rsobj</string>
		<string>rsobjend</string>
		<string>rsreset</string>
		<string>rsset</string>
		<string>rst</string>
		<string>rte</string>
		<string>rtr</string>
		<string>rts</string>
		<string>sbc</string>
		<string>sbcd</string>
		<string>scc</string>
		<string>sceneryobjdata</string>
		<string>scf</string>
		<string>scs</string>
		<string>section</string>
		<string>seq</string>
		<string>set</string>
		<string>sf</string>
		<string>sge</string>
		<string>sgt</string>
		<string>shi</string>
		<string>shift</string>
		<string>signextendB</string>
		<string>simhalt</string>
		<string>sl1</string>
		<string>sla</string>
		<string>sle</string>
		<string>slia</string>
		<string>sll</string>
		<string>sls</string>
		<string>slt</string>
		<string>smi</string>
		<string>sne</string>
		<string>sndbank_ptr</string>
		<string>spl</string>
		<string>spritefooter</string>
		<string>spriteheader</string>
		<string>spritemap</string>
		<string>spritepiece</string>
		<string>spritepiece2p</string>
		<string>sra</string>
		<string>srl</string>
		<string>st</string>
		<string>start</string>
		<string>startbank</string>
		<string>startz80</string>
		<string>stop</string>
		<string>stopz80</string>
		<string>strcmp</string>
		<string>stricmp</string>
		<string>strlen</string>
		<string>sub</string>
		<string>suba</string>
		<string>subi</string>
		<string>subi_</string>
		<string>subobjdata</string>
		<string>subq</string>
		<string>substr</string>
		<string>subtypedata</string>
		<string>subx</string>
		<string>svc</string>
		<string>svs</string>
		<string>swap</string>
		<string>tas</string>
		<string>tf</string>
		<string>tiles_to_bytes</string>
		<string>trap</string>
		<string>trapv</string>
		<string>_tst</string>
		<string>tst</string>
		<string>tt</string>
		<string>type</string>
		<string>ubge</string>
		<string>ubgt</string>
		<string>uble</string>
		<string>ublt</string>
		<string>ujge</string>
		<string>ujgt</string>
		<string>ujle</string>
		<string>ujlt</string>
		<string>unlk</string>
		<string>until</string>
		<string>vdpcomm</string>
		<string>vdpcommdelta</string>
		<string>vdp_comm</string>
		<string>xor</string>
		<string>waitz80</string>
		<string>warning</string>
		<string>while</string>
		<string>z80_ptr</string>
		<string>zoneanimdecl</string>
		<string>zoneanimend</string>
		<string>zoneanimstart</string>
		<string>zoneoffsettableentry</string>
		<string>zoneorderedtable</string>
		<string>zoneorderedoffsettable</string>
		<string>zonetableend</string>
		<string>zonetableentry</string>
		<string>zonetablebinentry</string>
		<string>zonewarning</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>a0</string>
		<string>a1</string>
		<string>a2</string>
		<string>a3</string>
		<string>a4</string>
		<string>a5</string>
		<string>a6</string>
		<string>a7</string>
		<string>d0</string>
		<string>d1</string>
		<string>d2</string>
		<string>d3</string>
		<string>d4</string>
		<string>d5</string>
		<string>d6</string>
		<string>d7</string>
		<string>ccr</string>
		<string>pc</string>
		<string>sp</string>
		<string>ssp</string>
		<string>sr</string>
		<string>usp</string>
		<string>vbr</string>
		<string>a</string>
		<string>af</string>
		<string>b</string>
		<string>bc</string>
		<string>c</string>
		<string>d</string>
		<string>de</string>
		<string>e</string>
		<string>f</string>
		<string>h</string>
		<string>hl</string>
		<string>l</string>
		<string>i</string>
		<string>ix</string>
		<string>ixh</string>
		<string>ixu</string>
		<string>ixl</string>
		<string>iy</string>
		<string>iyh</string>
		<string>iyu</string>
		<string>iyl</string>
		<string>s</string>
		<string>r</string>
		<string>w</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>A-Za-z0-9_</string>
		<key>Number Pattern</key>
		<string>(?&lt;![\d\w.])(?:(#[$%]?|[$%])[A-Fa-f0-9]+\b)|(?&lt;![$])(?:([0-9])[A-Fa-f0-9]+h\b)</string>
		<key>Comment Pattern</key>
		<string>([;](?![;]).*?$)</string>
		<key>String Pattern</key>
		<string>(&quot;(\\&quot;|[^&quot;\r]|\\\r)*&quot;)|((?&lt;!af)&apos;(\\&apos;|[^&apos;\r]|\\\r)*&apos;)</string>
		<key>Function Pattern</key>
		<string>(?P&lt;leadspace&gt;^\s*)(?P&lt;function&gt;^(?P&lt;function_name&gt;[A-Za-z0-9_]+):\r(?P=leadspace))</string>
		<key>Skip Pattern</key>
		<string>(?P&gt;comment)|(?P&gt;string)</string>
	</dict>
</dict>
</plist>
